pbr>=1.8  # Apache-2.0
Flask>=0.10,!=0.11,<1.0  # BSD
jsonpickle==0.7.1
pymongo>=3.0.2,!=3.1  # Apache-2.0
pytz>=2013.6  # MIT
voluptuous>=0.8.9  # BSD License
keystoneauth1>=2.14.0  # Apache-2.0
python-keystoneclient>=3.8.0  # Apache-2.0
six>=1.9.0  # MIT
kombu>=3.0.25,<4.0.0  # BSD
oslo.serialization>=1.10.0  # Apache-2.0
oslo.config>=3.14.0  # Apache-2.0
oslo.log>=3.11.0  # Apache-2.0
oslo.messaging>=5.14.0  # Apache-2.0
oslo.service>=1.10.0  # Apache-2.0
