mongomock==2.0.0
nose  # LGPL
setuptools>=16.0,!=24.0.0  # PSF/ZPL
sphinx>=1.2.1,!=1.3b1,<1.3  # BSD
sphinxcontrib-httpdomain  # BSD
flake8>=2.5.4,<2.6.0  # MIT
hacking<0.12,>=0.11.0  # Apache-2.0
testtools>=1.4.0  # MIT
mock>=2.0  # BSD
tempest>=12.1.0  # Apache-2.0
tempest-lib>=0.14.0  # Apache-2.0